.mx-PopupsBackground
#ViewsPopup.mx-PopupMenu.mx-Hidden
#RecordingPopup.mx-PopupMenu.mx-Hidden
  button.mx-PopupItem.mx-DeleteRecording Delete
  button.mx-PopupItem.mx-RecordingMetadata Edit Metadata
