#Title MythExpress is loading&hellip;
img(id="ViewsIcon", src="img/ViewMenu.png", width=32, height=32, alt="View Choices")
#Buttons
if isWebApp
  img(id="BackButton", src="img/back.png", width=48, height=48, alt="Back Button")