.mx-TextColumn

  .mx-TextBubble

    h1 What

    p

      | This is MythExpress, a lightweight web interface to the
      | MythTV PVR. It lets you browse and watch TV recordings and
      | videos. That’s all it does; at this time scheduling,
      | editing, or deleting recordings is not supported. Just
      | watching!

     p

      | MythExpress make use of HTML5 features which means it works
      | only on recent browsers. The author’s environment is Apple
      | all the way so iPad and OSX/Safari are expected to work.
      | iPhone & iPod Touch are not tested. Usefulness on other
      | platforms is by coincidence.

  .mx-TextBubble

    h1 Why

    p

      | I wrote this first to let me watch MythTV recordings on
      | something lighter than a full mythfrontend and second to
      | learn more about NodeJS, Express, and HTML5.

    p

      | Future developments will probably involve trying out new
      | NodeJS techniques and making improvements in the HTML5-ness
      | of the markup. Also, any new capabilities exposed in myth’s
      | HTTP services will be quickly taken up here.

    p

      | There are limits to a web approach and hopefully before long
      | there will be lots of native clients that far surpass what
      | is possible through HTML.

.mx-TextColumn

  .mx-TextBubble

    h1 How

    p

      | Buttons across the top bring up categories of media. Left to
      | right are televsion recordings, a gallery of videos and a
      | list of the recordings and videos which have been prepared
      | for streaming to a browser.

    p

      | Clicking a preview or cover image creates, or joins, a stream
      | of that show. Clicking on title text brings up a dialog
      | showing details and also buttons for streaming or direct play.

    p

      | Direct play is for media which you know to be in a format
      | playable by your device. There’s no harm in trying a direct
      | play, the worst that could happen is a big “X” appears.

    p

      |  After navigating into a folder use the back button to
      | return up the hierarchy.


  .mx-TextBubble

    h1 Whatever

    p Like any work in progress a few things are less than perfect:

    ul

      li I know the detail dialogs are skimpy.

      li

        | MythTV can be overwhelmed with preview requests the first
        | time you enter a view with lots of items. Wait a bit then
        | refresh.

      li

        | Sometimes the display logic gets out of whack. Just refresh.

      li

        | I'm not sure how to deal with the button bar when the list
        | extends past the right.

    p There is no doubt more which could be added to this list.
