!!!
html
  head
    title= Title
    if app.settings.env === "production"
      link(rel="stylesheet", href="css/dark-hive/all.css")
      script(type="text/javascript", src="js/all.js")
    else
      link(rel="stylesheet", href="/css/HTML5Reset.css")
      link(rel="stylesheet", href="/css/dark-hive/jquery-ui-1.8.17.custom.css")
      link(rel='stylesheet', href='/css/mythexpress.css')
      script(type="text/javascript", src="js/jquery-1.7.1.js")
      script(type="text/javascript", src="js/jquery-ui-1.8.17.custom.js")
      script(type="text/javascript", src="js/history.js")
      script(type="text/javascript", src="js/history.adapter.jquery.js")
      script(type="text/javascript", src="js/mythexpress.js")
  body
    #Content!= body
    #Header!= partial("header")
    #InfoDialog!= partial("info/infodialog")