!!!
html
  head
    title= Title
    link(rel="stylesheet", href="/css/HTML5Reset.css")
    link(rel="stylesheet", href="/css/overcast/jquery-ui-1.8.16.custom.css")
    link(rel='stylesheet', href='/css/mythnode.css')
    script(type="text/javascript", src="js/jquery-1.6.2.min.js")
    script(type="text/javascript", src="js/jquery-ui-1.8.16.custom.min.js")
    script(type="text/javascript", src="js/jquery.history.js")
    script(type="text/javascript", src="js/jquery.timer.js")
    script(type="text/javascript", src="js/mythnode.js")
  body
    #Content!= body
    #Header!= partial("header")
    #InfoDialog!= partial("infodialog")