if recording.length == 1
  - ShowTitle = true
  each episode in recording
    include episode
else
  .mx-Clickable.mx-Folder.mx-Data
    img.Folder(src="img/folder.png",width=128,height=92,alt=recording[0].Title)
    span.mx-Title= recording[0].Title