if recording.length == 1
   != partial("episode", { episode : recording[0], ShowTitle : true})
else
  .mx-Clickable.mx-Folder.mx-Data
    img.Folder(src="img/folder.png",alt=recording[0].Title)
    span.mx-Title= recording[0].Title