
body {
    background-color: #000000;
    color: white;
    font-family: Gill Sans;
}

/* jQuery css override */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Gill Sans; }

:link,:visited,ins {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: white !important;
}

#Header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    //overflow: none;
    //overflow-x: auto;
    background-color: #000000;
}

#Views                { position: absolute; top: 0px; left: 0px;
                        width: 100%; height: 100%;
                        z-index: 20; }
#ViewsIcon            { position: relative; top: 5px; left: 4px; }
#ViewsPopup           { position: fixed; top: 24px; left: 24px;
                        border: outset; // border-radius: 15px;
                        background-color: rgb(20,20,20);
                        padding: 0.5em 1.2em 0.7em 1em;
                        z-index: 22; }
li.mx-PopupItem       { font-size: 2em; width: 8em;
                        color: rgb(240,240,240);
                        list-style-type: none;
                      }
li.mx-PopupItem:hover { font-weight: bold; }
.mx-ViewsBackground   { position: fixed; top: 0px; left: 0px;
                        display: block; width: 100%; height: 100%; }

#Buttons {
    overflow: none;
    overflow-x: scroll;
    white-space: nowrap;
}

#Content {
    position: relative;
    width: 100%;
    z-index: 1
}

#Footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 5;
}

#Footer p {
    font-size: 2em;
    line-height: 1.25em;
    text-align: center;
    margin-top: .125em;
}

#Footer p.mx-Alert { background-color: rgb(255,0,0); }
#Footer p.mx-Info  { background-color: #31821D; }

.mx-Recording, .mx-Folder, .mx-Video, .mx-VideoFolder {
    float: left;
    width: 128px;
    height: 128px;
    border-color: grey48;
    text-align: center;
    overflow: hidden;
    margin: 3px;
}

.mx-Video, .mx-VideoFolder {
    height: 224px;
}

.mx-Stream:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.mx-StreamPreview  { width: 128px; }
.mx-StreamTitles   { width: 60%; vertical-align: middle; }
.mx-Show           { width: 40%; }
.mx-Status         { width: 8em; }
.mx-Parameters     { width: 12em; }
.mx-VideoBox       { margin: auto; clear: both; margin-bottom: 0.5em; }
.mx-Hidden         { display: none !important; }
.mx-Dimmed         { background-color: grey75; }

.mx-Selected       { border: solid; border-color: red; }

.mx-Stream div {
    float: left;
}

.mx-Wait img       { float: left; margin-left: 48px; margin-right: 12px; }
.mx-Wait p         { padding-top: 100px; font-size: 2em; }

#InfoDialog {
    width: 800px;
    height: 600px;
}

#InfoDialogContent p {
    margin-bottom: 0.75em;
}

.mx-TextColumn    { float: left; width: 48%; margin: 0px 1% 1em 1%; }
.mx-TextColumn + .mx-TextColumn { margin-left: 0px; }
.mx-MiddleColumn  { margin-left: 8% !important; width: 80%; }
.mx-TextBubble    { font-size: 1.2em;
                    padding: 0.5em;
                    margin-bottom: 0.5em;
                    border-radius: 15px; background: #333; }
.mx-InfoMessage   { font-size: 1.3em; text-align: center; }
.mx-TextBubble h1 { font-weight: bold; font-size: 1.3em; margin-bottom: .75em; }
.mx-TextBubble p  { margin-top: .5em; margin-bottom: .5em; line-height: 1.3em;}
.mx-TextBubble li { margin-top: .25em; margin-bottom: .25em; line-height: 1.2em; margin-left: 1.5em;}
.mx-ControlBubble { padding: 0.5em;
                    border-radius: 15px; background: #333; }
.mx-DeleteConfirm { padding-top: 1em; }

#Artwork a        { padding-left: .25em; padding-right: .25em;
                    border-bottom: none; }

.mxx-GPL ul {
    list-style: lower-latin;
}
.mxx-GPL li:before {
    display: marker;
    content: counter(counter, lower-latin) ")";
    counter-increment: counter;
    width: 6em;
    text-align: left;
}
.mx-GPL ul {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}
.mx-GPL li {
    display: block;
    margin-bottom: .5em;
    margin-left: 2em;
}
.mx-GPL li:before {
    display: inline-block;
    content: counter(item, lower-latin) ") ";
    counter-increment: item;
    width: 1.5em;
    margin-left: -1.5em;
}