
body {
    background-color: #000000;
    color: white;
    font-family: Gill Sans;
}

// jQuery css override
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Gill Sans; }

:link,:visited,ins {
    text-decoration: none;
    color: white !important;
}

#Header {
    position: fixed;
    width: 400%;
    height: 52px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    overflow: none;
    overflow-x: auto;
    background-color: #000000;
}

#Header div, a {
    display: inline;
    padding-right: 12px;
}

#Content {
    position: relative;
    margin-top: 64px;
    width: 100%;
    z-index: 1
}

.mx-Recording, .mx-Folder, .mx-VideoCell {
    float: left;
    width: 128px;
    height: 128px;
    //border: solid;
    border-color: grey48;
    text-align: center;
    overflow: hidden;
    margin: 3px;
}

.mx-VideoCell {
    height: 224px;
}

.mx-Stream:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.mx-StreamPreview  { width: 128px; }
.mx-StreamTitles   { width: 60%; vertical-align: middle; }
.mx-Show           { width: 40%; }
.mx-Status         { width: 8em; }
.mx-Parameters     { width: 12em; }
.mx-VideoBox       { margin: auto; }
.mx-Hidden         { display: none !important; }
.mx-Dimmed         { background-color: grey75; }

.mx-Selected       { border: solid; border-color: red; }

.mx-Stream div {
    float: left;
}

#InfoDialog {
    width: 800px;
    height: 600px;
}

#InfoDialogContent p {
    margin-bottom: 0.75em;
}