
body {
    background-color: #000000;
    color: white;
}

:link,:visited,ins {
    text-decoration: none;
    color: white !important;
}

#Header {
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: #000000;
}

#Header div, a {
    display: inline;
    padding-right: 12px;
}

#Content {
    position: relative;
    margin-top: 30px;
    width: 100%;
    z-index: 1
}

.mn-Recording, .mn-Folder, .mn-VideoCell {
    float: left;
    width: 128px;
    height: 128px;
    //border: solid;
    border-color: grey48;
    text-align: center;
    overflow: hidden;
    margin: 3px;
}

.mn-VideoCell {
    height: 224px;
}

.mn-Stream:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.mn-StreamPreview  { width: 128px; }
.mn-StreamTitles   { width: 60%; vertical-align: middle; }
.mn-Show           { width: 40%; }
.mn-Status         { width: 8em; }
.mn-Parameters     { width: 12em; }
.mn-VideoBox       { margin: auto; }
.mn-Hidden         { display: none !important; }
.mn-Dimmed         { background-color: grey75; }

.mn-Selected       { border: solid; border-color: red; }

.mn-Stream div {
    float: left;
}

#mn-InfoDialog {
    width: 800px;
    height: 600px;
}