p.mx-Data(data-FileName=recording.FileName, data-ChanId=recording.Channel.ChanId, data-StartTs=recording.Recording.StartTs)= recording.Title
if recording.SubTitle
  p= recording.SubTitle
if recording.Description
  p= recording.Description
if recording.Airdate
  p= "Airdate: " + recording.Airdate