p.mx-Data(data-VideoId=video.Id)= video.Title
if video.SubTitle
  p= video.SubTitle
if video.Description
  p= video.Description
if video.ReleaseDate
  p
    span Released:
    span= video.ReleaseDate
