p.mx-Data(data-VideoId=video.Id)= video.Title
if video.SubTitle
  p= video.SubTitle
if video.Description
  p= video.Description
if video.ReleaseDate
  p= "Released on " +  mythtv.FormatAirdate(video.ReleaseDate)
if video.Inetref.length > 0 && video.Inetref !== '00000000'
  p: a(href="http://www.themoviedb.org/movie/"+video.Inetref, target="tmdb"+video.Inetref) TheMovieDB.org
if !!video.Artwork && video.Artwork.ArtworkInfos.length > 0
  #Artwork
    each pic in video.Artwork.ArtworkInfos
      a(href="http://" + MythBackend + pic.URL, rel="lightbox[video]")
        img(src="http://" + MythBackend + pic.URL + "&Height=128", data-big="http://" + MythBackend + pic.URL)