.mx-MiddleColumn.mx-TextBubble
  p

    | MythExpress is copyright George Nassas (2012) and licensed under the terms of the 
    a(href="http://www.gnu.org/licenses/gpl-3.0-standalone.html", target="_new") GNU General Public Licence version 3
    |  except for externally maintained programs and libraries which carry their own licensing.

  p

    | External software includes 
    a(href="http://nodejs.org", target="_new") NodeJS
    | , 
    a(href="http://expressjs.com/", target="_new") Express
    | , 
    a(href="http://jquery.com", target="_new") jQuery
    | , and others. Refer to the MythExpress source folder “public” for the complete list.

  p

    | “TV out the window” &copy; 
    a(href="http://www.banksy.co.uk/", target="_new") Banksy
    |  taken from a photograph &copy; 
    a(href="http://www.flickr.com/photos/romanywg/2020038189/", target="_new") Romany WG
    | .